### Sets

A set is an unordered collection of unique items which means,values inside set are unindexed and can not be sliced

Creating Set

In [3]:
a={1,2,'M'}
a

{1, 2, 'M'}

In [4]:
a=set([1,2,'M'])
a

{1, 2, 'M'}

In [6]:
a={1,2,3,1,1}#here we can see duplicates are removed and only the unique 
#elements are returned.
a

{1, 2, 3}

In [8]:
c=set()#empty set
c

set()

In [10]:
dir(set) #return no of methods in sets

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

Python Set Operations

In [18]:
#finding length of set
my_set={1,2,4,'Random'}
len(my_set)

4

Accessing elements of a set

Though set elements can not be accessed using index numbers,we can access
the elements of a set by looping through it.

In [19]:
for i in my_set:
    print(i)

Random
1
2
4

Adding elements to a set

<ul>
    <li>Add():Allows you to add a single element to your set</li>
    <li>Update():Used when you want to add more than one element to your set</li>
    </ul>

In [22]:
new_set={1,2,3,4,"Random"}
new_set.add(5)
new_set

{1, 2, 3, 4, 5, 'Random'}

In [24]:
new_set.update([1,6,7])
new_set

{1, 2, 3, 4, 5, 6, 7, 'Random'}

Remove elements from a set

<ul>
    <li>remove():Removes an element from the set specified as parameter</li>
    <li>discard():used when you want to remove an element when you are not sure if its actually present in the set of not.</li>
    <li>pop():used when you want to remove a random element from the set</li>
    <ul>

In [26]:
new_set.remove(2)
new_set

{1, 3, 4, 5, 6, 7, 'Random'}

In [29]:
new_set.discard(1.1)
new_set#since 1.1 is not present in our set it does not throw any error.

{1, 3, 4, 5, 6, 7, 'Random'}

In [30]:
new_set.pop()

1

Union of Sets

Concatenation of two or more sets, if the sets contain common elements only one copy of common element will be included.

In [32]:
a={1,2,3,4,5}
b={'a','b','c','d'}
c={"Manisha","Dhurba",1.0,2}

In [33]:
a|b|c

{1, 2, 3, 4, 5, 'Dhurba', 'Manisha', 'a', 'b', 'c', 'd'}

In [34]:
a.union(b,c)

{1, 2, 3, 4, 5, 'Dhurba', 'Manisha', 'a', 'b', 'c', 'd'}

Intersection of Sets

Intersection of two or more sets form a new set consisting of only the common elements present in those sets.

In [37]:
a & c

{1.0, 2}

In [39]:
a & b & c

set()

In [40]:
a.intersection(b)

set()

In [41]:
a.intersection(c)

{1.0, 2}

Difference of Sets

It produces a new set consisting of elements of first set which are not common in other set.

In [45]:
a-b

{1, 2, 3, 4, 5}

In [46]:
a-c

{3, 4, 5}

In [47]:
c-a

{'Dhurba', 'Manisha'}

In [48]:
a.difference(b)

{1, 2, 3, 4, 5}

In [49]:
a.difference(b,c)

{3, 4, 5}

In [50]:
a-b-c

{3, 4, 5}

Frozen Sets

Those sets which does not support add or remove operations. Frozen sets are immutable.

In [51]:
d=frozenset(a)
d

frozenset({1, 2, 3, 4, 5})

In [52]:
d.add(8)

AttributeError: 'frozenset' object has no attribute 'add'